# Node.js
**/node_modules/
**/package-lock.json
**/yarn.lock

# Website db
**/database.sqlite

# QNX specific
**/proc-monitor
**/*.o
**/*.so
**/*.a

# OS specific
.DS_Store
**/.DS_Store
**/Thumbs.db


